#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.header {
  padding: 8px;
  color: white;
  font-weight: bold;
}

h3 {
  background: #3954a3;
}

.DesignOptions {
  button {
    margin: 5px;
  }
}

.Container {
  padding: 0 0 10px;
  background-color: #3a424d;
  border-right: none;
  margin: 10px 25px;
  flex: 1;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-self: stretch;
  min-height: 70px;
  overflow: hidden;
}

.DesignOne .Container {
  margin: 0 25px;
}

.Item {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  background: #4d5866;
  border: 1px solid #ababab;
  border-radius: 8px;
}

.Wrapper {
  background: #202226;
  padding: 50px 10px;
  border-radius: 8px;
  margin: 50px;
}

.DesignOne .dragging {
  display: none;
}

.drop-zone-indicator {
  display: block;
  opacity: 0; // must be visible and rendered for drag drop to work
  margin: 0 auto;
  width: 100%;
  height: 20px;
  background-color: rgba(123, 80, 252, 0.5);
  transition: height 0.3s ease-in-out;
}

.DesignOne .drop-zone-indicator.visible {
  opacity: 1;
  margin: 5px auto;
  height: 130px;
}
